@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}
/*font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;*/
.body{
    width: 100%;
}
h1{
    font-family: 'Righteous', cursive;
}
.header{
    z-index: 1;
    background-color:#CF2B2B ;
    width: 414px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: fixed;
    top:0;
    left: 0;
}
.header>h1{
    width: 248px;
    font-size: 44px;
    color: white;
    margin-left: 21px;
}
.header>p{
    font-family: 'Roboto', sans-serif;
    width: 226px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 21px;
}

.container{
    
    margin: 92px 0px;
    width: 414px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.categoria{
    display: flex;
    flex-direction: column;
    /*height: 258px;*/
    
    width: inherit;
    
    
    margin-top: 30px; 
}
.categoria>h1{
    margin-left: 19px;
    font-size: 26px;
    color: #333333;
    width: 320px;
}
.comidas{
    display: flex;
    height: 216px;
    overflow-x: scroll;
    
}
.food{
    width: 172px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-family: 'Roboto', sans-serif;
    border-radius: 9px;
    overflow-wrap: break-word;
    position: relative;
}

.food img{
    margin:0px 12px;
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.food>h2{
    margin:0px 12px;
    width: 135px;
    size: 16px;
    font-weight: 700;
    color: #333333;
}
.food>h3{
    margin:0px 12px;
    width: 135px;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}
.food>p{
    margin:0px 12px;
    width: 144px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.icone{
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #32B72F;
}

.bot{
    background-color: white;
    width: 414px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.bot>div{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 364px;
    height: 61px;
    border-radius: 50px;
}
.linkar{
    text-decoration: none;
}
.paragrafo p{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.paragrafo{
    width: 200px;
    display: flex;
    word-wrap: break-word;
    justify-content:center ;
}
.Endereco-Nome{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.caixinha{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
}
.caixinha p{
    font-size: 22px;
    font-weight: 700;
    color: #ffff;
}
.botoes-ende button{
    margin-left: 20px;
    width: 329px;
    padding: 13px 5px;
    border-radius: 100px;
    border: none;
}
.sim{
    background-color: #50D074;
    color: white;
}
.nao{
    background-color: red;
    color: white;
}
input{
    width: 329px;
        padding: 13px 5px;
        border-radius: 100px;
        border: none;
}
.borda-verde{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}
.aparece{
    display: block;
}
.fundo-verde{
    background-color:#32B72F ;
}
.fundo-cinza{
    background-color: #CBCBCB;
}
.some{
    display: none;
}
