@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}
/*font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;*/
.body{
    width: 414px;
}
h1{
    font-family: 'Righteous', cursive;
}
.header{
    background-color:#CF2B2B ;
    width: 414px;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: fixed;
    top:0;
    left: 0;
}
.header>h1{
    width: 248px;
    font-size: 44px;
    color: white;
    margin-left: 21px;
}
.header>p{
    font-family: 'Roboto', sans-serif;
    width: 226px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 21px;
}

.container{
    background-color: purple;
    margin: 92px 0px;
    width: 414px;;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.categoria{
    display: flex;
    flex-direction: column;
    /*height: 258px;*/
    
    width: inherit;
    background-color: aqua;
    margin-left: 19px;
    margin-top: 30px; 
}
.categoria>h1{
    font-size: 26px;
    color: #333333;
    width: 320px;
}
.comidas{
    
    background-color: yellow;
    display: flex;
    height: 216px;
    overflow-x: scroll;
    
}
.food{
    background-color: darkorange;
    width: 172px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    font-family: 'Roboto', sans-serif;
    border-radius: 9px;
}

.food>img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.food>h2{
    width: 144px;
    size: 16px;
    font-weight: 700;
    color: #333333;
}
.food>h3{
    width: 147px;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}
.food>p{
    width: 144px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.bot{
    background-color: chartreuse;
    width: 414px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.bot>div{
    font-family: 'Roboto', sans-serif;
    background-color: #CBCBCB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    
}
.bot>p{
    font-size: 20px;
    font-weight: 400;
}